@import "./price-card/price-card";

$gray-price-block: 750px;

.price {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;

  &__title {
    @include fonts-style ("Proxima Nova", 300, 52px, normal, 77px, white);
    margin: 0 180px;
    width: 100%;
    position: absolute;
    top: 100px;
  }

  &__sections {
    margin-top: 120px;
    display: flex;
    align-items: flex-start;
    min-height: $gray-price-block;
  }

  &__logo {
    margin: 40px 0 0;
  }

  &__single-game {
    color: white;
    width: 100%;

    & .price-card {
      margin-left: 180px;

    }
  }

  &__command-game {
    color: black;
    background: #DCDCDC;
    min-height: $gray-price-block;
    width: 100%;

    & .price-card {
      margin-left: 90px;
    }
  }

  &__button {
    position: absolute;
    bottom: 80px;
  }
}

@media only screen and (max-width: 1050px) {
  .price {

    &__title {
      margin: 0;
      text-align: center;
      position: static;
    }

    &__sections {
      flex-direction: column;
    }

    &__single-game {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 40px;
  
      & .price-card {
        margin: 10px;
        width: 100%;
      }
    }

    &__logo {
      display: none;
    }

    &__command-game {
  
      & .price-card {
        margin: 10px;
        width: 100%;
      }
    }

    &__button {
      position: relative;
      bottom: 0;
      margin: 25px auto;
    }
  }
}
