$policy-color: #717171;

.policy {
  border-top: 1px solid $policy-color;
  width: 100%;
  max-width: $content-width;
  margin: 0 auto 40px;
  color: $policy-color;
  display: flex;
  justify-content: space-between;

  &__urls {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;

    & .policy__text {
      transition: transform 1s;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  &__text {
    @include fonts-style ("Proxima Nova", 300, 12px, normal, 31px, $policy-color);
    margin-left: 35px;
  }

  &__copyright {
    margin-top: 30px;
    margin-right: 35px;
  }
}

@media only screen and (max-width: 550px) {
  .policy {
    flex-direction: column;
  }
}
