.nav {
  max-width: $content-width;
  margin: 90px auto 10px;
  display: flex;
  justify-content: space-between;
  position: relative;
  transition: max-height 1s;

  &__btn {
    display: none;
    position: absolute;
    z-index: 5;
    height: 30px;
    width: 30px;
    background: url(../../../../images/footer/nav/arrow.svg) no-repeat center;
    right: 35px;
    top: 60px;
    transition: transform 1s;

    &_active {
      transform: rotate(180deg);
    }
  }

  &__list {
    align-items: center;
    justify-content: space-between;
    height: 100%;
    position: relative;
    display: flex;
  }

  &__list-item {
    margin: 0 60px 0 0;
  }

  &__item {
    @include fonts-style ("Proxima Nova", normal, 16px, normal, 20px, white);
    display: flex;
    align-items: center;
    transition: color 1s;

    &:hover {
      color: #888;
    }
  }

  &__social {
    display: flex;
    align-items: center;
    
    & > :last-child {
      margin-left: 30px;
    }
  }
}

@media only screen and (max-width: 1080px) {
  .nav {
    flex-direction: column;
    margin: 0;
    padding: 30px 15px 30px 0;
    max-height: 85px;
    overflow-y: hidden;

    &_active {
      max-height: 1000px;
    }

    &__btn {
      display: block;
    }

    &__list {
      flex-direction: column;
      align-items: flex-start;
      margin: 0 0 80px;

      & > :first-child {
        margin: 0 0 50px;
      }
    }

    &__list-item {
      margin: 20px 0 0 30px;
    }

    &__social {
      margin-left: 30px;
    }
  }
}
