@import "./tariff/tariff";
@import "./about/about";
@import "./tour/tour";
@import "./price/price";
@import "./bonus/bonus";
@import "./order-menu/order-menu";

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: $max-width;
  width: 100%;
  margin: 0 auto;
  
  &__tariff {
    width: 1346px;
    height: 512px;
    align-self: flex-end;
  }

  &__about {
    width: 100%;
  }

  &__bonus {
    margin: 90px auto;
  }

  &__price {
    max-width: 1500px;
    width: 100%;
    background: #00BC87;
    margin: 400px auto 0;
  }
}

@media only screen and (max-width: 1346px) {
  .main {
    &__tariff {
      width: 100%;
      align-self: center;
    }
  }
}

@media only screen and (max-width: 860px) {
  .main {

    &__tariff {
      height: 100%;
    }
  }
}
