@import "./o-form/o-form";

.order {

  &__empty {
    height: 150px;
    width: 100%;
    background: transparent;
  }

  &__arrow {
    margin: 50px 70px;
    height: 45px;
    width: 30px;
    object-fit: cover;
    object-position: center;
  }

  &__content {
    padding: 50px 30px;
    box-sizing: border-box;
    background: #07141E;
    height: calc(100% - 150px);
    color: white;
  }

  &__title {
    @include fonts-compact(300, 28px, 38px);
  }

  &__form {

  }
}
