@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
html,
body,
p,
ul,
li,
h1,
a {
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none; }

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth; }

.button {
  background: 0% 0% no-repeat padding-box;
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 15px 50px;
  cursor: pointer;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s; }
  .button:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  .button_green {
    background-color: #00BC87;
    color: white; }
  .button_white {
    background-color: white;
    color: black; }

.overlap {
  height: 100%;
  width: 100%;
  background: black;
  position: absolute;
  opacity: 0.7;
  z-index: 1;
  display: none; }

html {
  font-family: "Proxima Nova", "Roboto", Arial, sans-serif; }

.roof {
  margin: 0 auto;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .roof__logo {
    max-width: 167px; }
  .roof__nav-btn {
    width: 25px;
    height: 20px;
    margin-right: 35px;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    cursor: pointer; }
  .roof__btn {
    width: 100%;
    height: 1px;
    background: #00BC87; }
  .roof__btn-one {
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
    -webkit-transform-origin: 100% 0;
            transform-origin: 100% 0; }
    .roof__btn-one_active {
      -webkit-transform: rotate(-25deg);
              transform: rotate(-25deg); }
  .roof__btn-two {
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
    -webkit-transform-origin: 100% 0;
            transform-origin: 100% 0; }
    .roof__btn-two_active {
      -webkit-transform: rotate(25deg);
              transform: rotate(25deg); }
  .roof__navigation-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    position: relative; }
  .roof__navigation-list-item {
    margin-right: 60px; }
  .roof__navigation-item {
    font-family: "Proxima Nova", "Roboto", Arial, sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: white;
    font-style: normal;
    line-height: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    -webkit-transition: color 1s;
    transition: color 1s; }
    .roof__navigation-item div {
      margin-left: 10px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 8px 7px 0;
      border-color: #fff transparent transparent;
      -webkit-transition: border-color 1s;
      transition: border-color 1s; }
    .roof__navigation-item:hover {
      color: #888; }
      .roof__navigation-item:hover > div {
        border-color: #888 transparent transparent; }
  .roof__navigation-drop {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: -78px;
    background: #fff;
    -webkit-box-shadow: 0 3px 6px #00000029;
            box-shadow: 0 3px 6px #00000029;
    border-radius: 5px;
    -webkit-transition: opacity 1s;
    transition: opacity 1s; }
    .roof__navigation-drop div {
      top: -15px;
      left: calc(50% - 12.5px);
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 12.5px 15px;
      border-color: transparent transparent #fff; }
  .roof__navigation-drop-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 22px 30px; }
    .roof__navigation-drop-item a {
      margin-left: 20px;
      font-family: "Proxima Nova", "Roboto", Arial, sans-serif;
      font-weight: normal;
      font-size: 18px;
      color: #717171;
      font-style: normal;
      line-height: 26px;
      -webkit-transition: -webkit-transform 1s;
      transition: -webkit-transform 1s;
      transition: transform 1s;
      transition: transform 1s, -webkit-transform 1s; }
      .roof__navigation-drop-item a:hover {
        -webkit-transform: scale(1.1);
                transform: scale(1.1); }

@media only screen and (max-width: 850px) {
  .roof {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #07141E; }
    .roof__nav-btn {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .roof__navigation {
      display: none; } }

.circle__item {
  border-radius: 50%;
  position: absolute; }
  .circle__item_yellow {
    height: 25px;
    width: 25px;
    background-color: #FFB000; }
  .circle__item_blue {
    height: 15px;
    width: 15px;
    background-color: #00C2EE; }

#circle-yellow-1 {
  top: 55%;
  left: 15%; }

#circle-yellow-2 {
  top: 30%;
  right: 10%; }

#circle-blue-1 {
  top: 25%;
  left: 20%; }

#circle-blue-2 {
  top: 40%;
  right: 20%; }

.full-video {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 2; }
  .full-video__item {
    z-index: 2; }
  .full-video__cross {
    z-index: 3;
    height: 35px;
    width: 35px;
    background: #00BC87 url("../images/header/full-video/cross.svg") no-repeat center;
    background-size: contain;
    border-radius: 50%;
    position: relative;
    right: 35px;
    top: -50px;
    cursor: pointer; }

.mobile-nav {
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  height: calc(100% - 80px);
  background: #07141E;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-transform: translate(100%, 0);
          transform: translate(100%, 0); }
  .mobile-nav_active {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  .mobile-nav__list {
    margin-left: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left; }
  .mobile-nav__item {
    margin: 15px 0; }
  .mobile-nav__element {
    font-family: "Proxima Nova", "Roboto", Arial, sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: white;
    font-style: normal;
    line-height: 20px; }
  .mobile-nav__social {
    margin: 0 0 45px 30px; }
    .mobile-nav__social > :last-child {
      margin-left: 30px; }
  .mobile-nav__button {
    margin: 160px 30px 90px;
    max-width: 200px; }

@media only screen and (max-width: 850px) {
  .mobile-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }

.header {
  max-width: 1920px;
  margin: 0 auto;
  position: relative; }
  .header__video {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: -1; }
  .header__video-item {
    position: absolute;
    height: 1080px;
    top: -170px;
    z-index: -1; }
  .header__video-img {
    background: url(../images/header/imgVideo.png) center no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    min-height: 310px;
    height: 310px;
    top: 80px;
    display: none; }
  .header__content {
    max-width: 1200px;
    margin: 100px auto; }
  .header__title {
    font-family: "Proxima Nova", "Roboto", Arial, sans-serif;
    font-weight: 200;
    font-size: 52px;
    color: white;
    font-style: normal;
    line-height: 70px;
    max-width: 600px; }
  .header__text {
    font-family: "Proxima Nova", "Roboto", Arial, sans-serif;
    font-weight: 200;
    font-size: 18px;
    color: #A8A8A8;
    font-style: normal;
    line-height: 26px;
    letter-spacing: 1.08px; }
  .header__URL {
    margin-top: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .header__URL-video {
    font-family: "Proxima Nova", "Roboto", Arial, sans-serif;
    font-weight: normal;
    font-size: 14px;
    color: #A8A8A8;
    font-style: normal;
    line-height: 17px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .header__URL-ico {
    display: inline-block;
    height: 25px;
    width: 25px;
    border: 2px solid #00BC87;
    border-radius: 50%;
    margin-left: 24px; }
  .header__social > :last-child {
    margin-left: 30px; }
  .header__full-video {
    width: 100%;
    height: auto; }

@media only screen and (max-width: 850px) {
  .header {
    background: #07141E;
    z-index: 1;
    height: 800px; }
    .header__circle {
      display: none; }
    .header__video-img {
      display: block;
      z-index: 2; }
    .header__video-item {
      display: none; }
    .header__content {
      padding: 35px;
      margin: 310px 0 0; }
    .header__URL {
      margin-top: 60px; }
    .header__social {
      margin: 15px 0; } }

@media only screen and (max-width: 465px) {
  .header {
    height: 900px; } }

@media only screen and (max-width: 360px) {
  .header__title {
    font-family: "Proxima Nova", "Roboto", Arial, sans-serif;
    font-weight: 200;
    font-size: 40px;
    color: white;
    font-style: normal;
    line-height: 110%; } }

.t-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .t-card__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 35px;
    width: 50px;
    border-radius: 17px; }
    .t-card__logo_pink {
      background: #D00090; }
    .t-card__logo_green {
      background: #00BC87; }
    .t-card__logo_yellow {
      background: #FFB000; }
  .t-card__title {
    margin-top: 40px;
    font-family: "Proxima Nova", "Roboto", Arial, sans-serif;
    font-weight: normal;
    font-size: 28px;
    color: #1A1A1A;
    font-style: normal;
    line-height: 34px; }
  .t-card__text {
    margin-top: 33px;
    max-width: 255px;
    min-height: 80px;
    font-family: "Proxima Nova", "Roboto", Arial, sans-serif;
    font-weight: normal;
    font-size: 18px;
    color: #1A1A1A;
    font-style: normal;
    line-height: 26px; }
  .t-card__button {
    margin-top: 35px;
    font-family: "Proxima Nova", "Roboto", Arial, sans-serif;
    font-weight: normal;
    font-size: 13px;
    color: #474747;
    font-style: normal;
    line-height: 16px;
    text-transform: uppercase;
    border: 1px solid #474747; }
    .t-card__button_active {
      border: none; }

.tariff {
  position: relative;
  background: #DCDCDC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .tariff__arrow {
    position: absolute;
    height: 45px;
    width: 30px;
    background: url(../images/main/arrDown.svg) no-repeat center;
    background-size: cover;
    -ms-flex-item-align: center;
        align-self: center;
    margin-top: 150px;
    left: -140px; }
  .tariff__card {
    margin: 100px 0 100px 100px; }

@media only screen and (max-width: 1346px) {
  .tariff {
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    .tariff__card {
      margin: 100px 0; } }

@media only screen and (max-width: 560px) {
  .tariff {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .tariff__card {
      margin: 50px 0;
      max-width: 320px; } }

.a-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .a-card__main-title {
    font-family: "Proxima Nova", "Roboto", Arial, sans-serif;
    font-weight: 300;
    font-size: 52px;
    color: white;
    font-style: normal;
    line-height: 77px;
    margin: 0 0 25px; }
  .a-card__minor-title {
    font-family: "Proxima Nova", "Roboto", Arial, sans-serif;
    font-weight: 300;
    font-size: 28px;
    color: #00BC87;
    font-style: normal;
    line-height: 34px;
    min-height: 74px;
    margin: 0 0 25px; }
  .a-card__text {
    font-family: "Proxima Nova", "Roboto", Arial, sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #BFBFBF;
    font-style: normal;
    line-height: 26px;
    opacity: 0.8; }

.about {
  background: #07141E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 10px; }
  .about > :last-child {
    margin-bottom: 400px; }
  .about__card {
    max-width: 370px;
    margin: 150px 0 0; }

.tour-card {
  background: #DCDCDC;
  position: absolute;
  bottom: -0;
  padding: 35px 50px; }
  .tour-card__title {
    font-family: "Proxima Nova", "Roboto", Arial, sans-serif;
    font-weight: normal;
    font-size: 28px;
    color: #1A1A1A;
    font-style: normal;
    line-height: 34px;
    min-height: 50px; }
  .tour-card__text {
    font-family: "Proxima Nova", "Roboto", Arial, sans-serif;
    font-weight: normal;
    font-size: 18px;
    color: #717171;
    font-style: normal;
    line-height: 26px;
    opacity: 0.8;
    margin-bottom: 40px; }
  .tour-card__button {
    font-family: "Proxima Nova", "Roboto", Arial, sans-serif;
    font-weight: normal;
    font-size: 13px;
    color: #1A1A1A;
    font-style: normal;
    line-height: 16px;
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 57px;
    border: 1px solid #717171;
    border-radius: 5px;
    background: inherit;
    cursor: pointer;
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s; }
    .tour-card__button:hover {
      -webkit-transform: scale(1.1);
              transform: scale(1.1); }

.tour {
  position: relative; }
  .tour__card {
    z-index: 2;
    left: 30%; }
  .tour__img {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1; }

@media only screen and (max-width: 680px) {
  .tour__card {
    left: 0; } }

.price-card {
  margin-top: 60px; }
  .price-card_gray {
    color: #717171; }
  .price-card__title {
    font-weight: 300;
    font-size: 28px;
    line-height: 31px;
    margin: 0 0 50px; }
  .price-card__data {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "time_left time_right" "price_left price_right" "add_left add_right" "end-text end-price";
    grid-row-gap: 50px;
    grid-column-gap: 10px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .price-card__time {
    position: relative;
    font-weight: normal;
    font-size: 22px;
    line-height: 31px;
    width: 100%; }
    .price-card__time_left {
      grid-area: time_left; }
    .price-card__time_right {
      grid-area: time_right; }
  .price-card__price :first-child {
    font-weight: 300;
    font-size: 16px;
    line-height: 31px; }
  .price-card__price :last-child {
    font-weight: normal;
    font-size: 24px;
    line-height: 31px; }
  .price-card__price_left {
    grid-area: price_left; }
  .price-card__price_right {
    grid-area: price_right; }
  .price-card__add :first-child {
    font-weight: normal;
    font-size: 18px;
    line-height: 31px; }
  .price-card__add :last-child {
    font-weight: 300;
    font-size: 12px;
    line-height: 31px;
    letter-spacing: 0.72px; }
  .price-card__add_left {
    grid-area: add_left; }
  .price-card__add_right {
    grid-area: add_right; }
  .price-card__end-text {
    font-weight: 300;
    font-size: 16px;
    line-height: 31px;
    grid-area: end-text; }
  .price-card__end-price {
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
    grid-area: end-price; }
  .price-card__toggle {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer; }

@media only screen and (max-width: 1050px) {
  .price-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .price-card__title {
      text-align: center; }
    .price-card__data {
      justify-items: center;
      text-align: center; }
    .price-card__toggle {
      width: 100%; } }

.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  height: 100%; }
  .price__title {
    font-family: "Proxima Nova", "Roboto", Arial, sans-serif;
    font-weight: 300;
    font-size: 52px;
    color: white;
    font-style: normal;
    line-height: 77px;
    margin: 0 180px;
    width: 100%;
    position: absolute;
    top: 100px; }
  .price__sections {
    margin-top: 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    min-height: 750px; }
  .price__logo {
    margin: 40px 0 0; }
  .price__single-game {
    color: white;
    width: 100%; }
    .price__single-game .price-card {
      margin-left: 180px; }
  .price__command-game {
    color: black;
    background: #DCDCDC;
    min-height: 750px;
    width: 100%; }
    .price__command-game .price-card {
      margin-left: 90px; }
  .price__button {
    position: absolute;
    bottom: 80px; }

@media only screen and (max-width: 1050px) {
  .price__title {
    margin: 0;
    text-align: center;
    position: static; }
  .price__sections {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .price__single-game {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 40px; }
    .price__single-game .price-card {
      margin: 10px;
      width: 100%; }
  .price__logo {
    display: none; }
  .price__command-game .price-card {
    margin: 10px;
    width: 100%; }
  .price__button {
    position: relative;
    bottom: 0;
    margin: 25px auto; } }

.bonus {
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px; }
  .bonus__img {
    max-width: 600px;
    width: 100%;
    margin-right: 100px; }
  .bonus__content {
    margin-left: 100px;
    margin-top: 50px;
    color: #1A1A1A; }
  .bonus__title {
    font-weight: 300;
    font-size: 52px;
    line-height: 65px; }
  .bonus__text {
    margin-top: 25px;
    font-family: "Proxima Nova", "Roboto", Arial, sans-serif;
    font-weight: normal;
    font-size: 18px;
    color: #717171;
    font-style: normal;
    line-height: 26px; }
  .bonus__list {
    margin-top: 50px; }
  .bonus__list-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 30px; }
  .bonus__list-number {
    width: 50px;
    height: 30px;
    font-family: "Proxima Nova", "Roboto", Arial, sans-serif;
    font-weight: normal;
    font-size: 18px;
    color: white;
    font-style: normal;
    line-height: 31px;
    border-radius: 17px;
    text-align: center;
    margin-right: 50px; }
    .bonus__list-number_green {
      background: #00BC87; }
    .bonus__list-number_pink {
      background: #D00090; }
    .bonus__list-number_yellow {
      background: #FFB000; }
  .bonus__list-text {
    font-weight: normal;
    font-size: 24px;
    line-height: 31px; }
    .bonus__list-text span {
      color: #00BC87; }

@media only screen and (max-width: 1200px) {
  .bonus__content, .bonus__img {
    margin: 0; } }

@media only screen and (max-width: 1000px) {
  .bonus {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .bonus__title {
      text-align: center; }
    .bonus__list {
      display: inline-block;
      margin: 50px auto 0; }
    .bonus__content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
    .bonus__text {
      text-align: center; } }

@media only screen and (max-width: 370px) {
  .bonus__title {
    font-weight: 300;
    font-size: 40px;
    line-height: 100%; } }

.order-menu {
  width: 100%;
  max-width: 860px;
  height: 580px;
  background: #07141E;
  position: fixed;
  top: 20%;
  -ms-flex-item-align: center;
      align-self: center;
  z-index: 5;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .order-menu__title {
    width: 70%;
    text-align: left;
    font-family: "Proxima Nova", "Roboto", Arial, sans-serif;
    font-weight: 300;
    font-size: 28px;
    color: #00BC87;
    font-style: normal;
    line-height: 38px; }
  .order-menu__form {
    width: 70%; }
    .order-menu__form :first-child {
      margin-right: 30px; }
  .order-menu__item {
    width: 45%;
    height: 70px;
    margin-bottom: 70px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #717171;
    font-family: "Proxima Nova", "Roboto", Arial, sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #717171;
    font-style: normal;
    line-height: 31px; }
    .order-menu__item::-webkit-input-placeholder {
      font-family: "Proxima Nova", "Roboto", Arial, sans-serif;
      font-weight: 300;
      font-size: 18px;
      color: #717171;
      font-style: normal;
      line-height: 31px; }
    .order-menu__item::-moz-placeholder {
      font-family: "Proxima Nova", "Roboto", Arial, sans-serif;
      font-weight: 300;
      font-size: 18px;
      color: #717171;
      font-style: normal;
      line-height: 31px; }
    .order-menu__item:-ms-input-placeholder {
      font-family: "Proxima Nova", "Roboto", Arial, sans-serif;
      font-weight: 300;
      font-size: 18px;
      color: #717171;
      font-style: normal;
      line-height: 31px; }
    .order-menu__item::-ms-input-placeholder {
      font-family: "Proxima Nova", "Roboto", Arial, sans-serif;
      font-weight: 300;
      font-size: 18px;
      color: #717171;
      font-style: normal;
      line-height: 31px; }
    .order-menu__item::placeholder {
      font-family: "Proxima Nova", "Roboto", Arial, sans-serif;
      font-weight: 300;
      font-size: 18px;
      color: #717171;
      font-style: normal;
      line-height: 31px; }
    .order-menu__item::-webkit-inner-spin-button {
      -webkit-appearance: none; }
  .order-menu__police {
    font-family: "Proxima Nova", "Roboto", Arial, sans-serif;
    font-weight: 300;
    font-size: 12px;
    color: #828282;
    font-style: normal;
    line-height: 22px;
    letter-spacing: 0;
    width: 70%;
    text-align: left;
    margin-top: 70px; }
  .order-menu__cross {
    z-index: 3;
    height: 35px;
    width: 35px;
    background: #00BC87 url(../images/header/full-video/cross.svg) no-repeat center;
    background-size: contain;
    border-radius: 50%;
    position: absolute;
    right: 35px;
    top: 75px;
    cursor: pointer; }

.main {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto; }
  .main__tariff {
    width: 1346px;
    height: 512px;
    -ms-flex-item-align: end;
        align-self: flex-end; }
  .main__about {
    width: 100%; }
  .main__bonus {
    margin: 90px auto; }
  .main__price {
    max-width: 1500px;
    width: 100%;
    background: #00BC87;
    margin: 400px auto 0; }

@media only screen and (max-width: 1346px) {
  .main__tariff {
    width: 100%;
    -ms-flex-item-align: center;
        align-self: center; } }

@media only screen and (max-width: 860px) {
  .main__tariff {
    height: 100%; } }

.map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background: #1C262E; }
  .map__content {
    margin-top: 70px;
    margin-bottom: 70px;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 870px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .map__contacts {
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .map__contacts a {
      color: white;
      margin-bottom: 30px;
      -webkit-transition: color 1s;
      transition: color 1s; }
      .map__contacts a:hover {
        color: #888; }
  .map__address {
    margin: 0 30px 0 50px;
    margin-right: 30px;
    margin-left: 50px;
    font-weight: normal;
    font-size: 16px;
    line-height: 31px; }

@media only screen and (max-width: 1200px) {
  .map__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .map__address {
    margin: 20px 20px 0; } }

@media only screen and (max-width: 550px) {
  .map__contacts {
    margin: 0; } }

.o-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 230px;
  height: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around; }
  .o-form__item {
    height: 70px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    font-family: "Proxima Nova", "Roboto", Arial, sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: white;
    font-style: normal;
    line-height: 31px; }
    .o-form__item::-webkit-input-placeholder {
      font-family: "Proxima Nova", "Roboto", Arial, sans-serif;
      font-weight: 300;
      font-size: 18px;
      color: white;
      font-style: normal;
      line-height: 31px; }
    .o-form__item::-moz-placeholder {
      font-family: "Proxima Nova", "Roboto", Arial, sans-serif;
      font-weight: 300;
      font-size: 18px;
      color: white;
      font-style: normal;
      line-height: 31px; }
    .o-form__item:-ms-input-placeholder {
      font-family: "Proxima Nova", "Roboto", Arial, sans-serif;
      font-weight: 300;
      font-size: 18px;
      color: white;
      font-style: normal;
      line-height: 31px; }
    .o-form__item::-ms-input-placeholder {
      font-family: "Proxima Nova", "Roboto", Arial, sans-serif;
      font-weight: 300;
      font-size: 18px;
      color: white;
      font-style: normal;
      line-height: 31px; }
    .o-form__item::placeholder {
      font-family: "Proxima Nova", "Roboto", Arial, sans-serif;
      font-weight: 300;
      font-size: 18px;
      color: white;
      font-style: normal;
      line-height: 31px; }
    .o-form__item::-webkit-inner-spin-button {
      -webkit-appearance: none; }
  .o-form__button {
    margin-top: 90px; }

.order__empty {
  height: 150px;
  width: 100%;
  background: transparent; }

.order__arrow {
  margin: 50px 70px;
  height: 45px;
  width: 30px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center; }

.order__content {
  padding: 50px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #07141E;
  height: calc(100% - 150px);
  color: white; }

.order__title {
  font-weight: 300;
  font-size: 28px;
  line-height: 38px; }

@media only screen and (max-width: 600px) {
  .order__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .order__empty {
    display: none; } }

.nav {
  max-width: 1200px;
  margin: 90px auto 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  -webkit-transition: max-height 1s;
  transition: max-height 1s; }
  .nav__btn {
    display: none;
    position: absolute;
    z-index: 5;
    height: 30px;
    width: 30px;
    background: url(../images/footer/nav/arrow.svg) no-repeat center;
    right: 35px;
    top: 60px;
    cursor: pointer;
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s; }
    .nav__btn_active {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg); }
  .nav__list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .nav__list-item {
    margin: 0 60px 0 0; }
  .nav__item {
    font-family: "Proxima Nova", "Roboto", Arial, sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: white;
    font-style: normal;
    line-height: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: color 1s;
    transition: color 1s; }
    .nav__item:hover {
      color: #888; }
  .nav__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .nav__social > :last-child {
      margin-left: 30px; }

@media only screen and (max-width: 1080px) {
  .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    padding: 30px 15px 30px 0;
    max-height: 85px;
    overflow-y: hidden; }
    .nav_active {
      max-height: 1000px; }
    .nav__btn {
      display: block; }
    .nav__list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      margin: 0 0 80px; }
      .nav__list > :first-child {
        margin: 0 0 50px; }
    .nav__list-item {
      margin: 20px 0 0 30px; }
    .nav__social {
      margin-left: 30px; } }

.policy {
  border-top: 1px solid #717171;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto 40px;
  color: #717171;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .policy__urls {
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .policy__urls .policy__text {
      -webkit-transition: -webkit-transform 1s;
      transition: -webkit-transform 1s;
      transition: transform 1s;
      transition: transform 1s, -webkit-transform 1s; }
      .policy__urls .policy__text:hover {
        -webkit-transform: scale(1.1);
                transform: scale(1.1); }
  .policy__text {
    font-family: "Proxima Nova", "Roboto", Arial, sans-serif;
    font-weight: 300;
    font-size: 12px;
    color: #717171;
    font-style: normal;
    line-height: 31px;
    margin-left: 35px; }
  .policy__copyright {
    margin-top: 30px;
    margin-right: 35px; }

@media only screen and (max-width: 550px) {
  .policy {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; } }

.footer {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "map map order" "nav nav nav"; }
  .footer__map {
    grid-area: map; }
  .footer__order {
    grid-area: order; }
  .footer__nav {
    grid-area: nav;
    background: #07141E; }

@media only screen and (max-width: 600px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; } }

/*# sourceMappingURL=index.css.map */
