@import "./a-card/a-card";

.about {
  background: #07141E;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0 10px;

  & > :last-child {
    margin-bottom: 400px;
  }

  &__card {
    max-width: 370px;
    margin: 150px 0 0;
  }
}
